section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
div {
  border: 1px solid transparent;
  border-radius: 15px;
  height: 200px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: #4b4b4b;
  }
  50% {
    background-color: #747474;
  }
}